header {
  background-image: url("../src/imgs/wire-frame-1311161_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#modalPoster {
  width: 300px;
  height: 462px;
}

/* .card-img-top {
  height: 207px;
} */

.card-img-top:hover {
  scale: 1.25;
  z-index: 99;
}

.modal-blur-bg {
  background-color: rgba(111, 236, 255, 0.471);
  backdrop-filter: blur(10px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  align-items: center;
}

li {
  float: left;
}

li a,
p.fs-5 {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: 0;
}
p.fs-5 {
  border: white solid 1px;
  border-radius: 5px;
}
/* li p.fs-5 {
  display: block;
  text-align: center;
  color: #333;
  background-color: #fff;
  padding: 16px;
} */

li a:hover {
  background-color: #111111;
  color: red;
}

.navbarBrand {
  padding: 16px;
}

.navbarBrand:hover,
.page-link:hover {
  cursor: pointer;
  background-color: #111;
  color: red;
}
